<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVelibPlannerService" />
                <binding name="BasicHttpBinding_IVelibPlannerService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/velibPlanner/VelibPlannerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelibPlannerService"
                contract="VelibPlannerServiceReference.IVelibPlannerService"
                name="BasicHttpBinding_IVelibPlannerService" />
            <endpoint address="http://localhost:8733/velibPlanner/VelibPlannerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelibPlannerService1"
                contract="ServiceReference1.IVelibPlannerService" name="BasicHttpBinding_IVelibPlannerService1" />
        </client>
    </system.serviceModel>
</configuration>