<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVelibPlannerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/velibPlanner/VelibPlannerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelibPlannerService"
                contract="ServiceReference1.IVelibPlannerService" name="BasicHttpBinding_IVelibPlannerService" />
        </client>
    </system.serviceModel>
</configuration>